body {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.15s all ease-in-out;
  -o-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 1199px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 991px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .logo {
  margin: 24px 0 14px;
}

.header__inner .menu-first-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__inner .menu-first-floor .link-first-floor {
  list-style: none;
  position: relative;
}

.header__inner .menu-first-floor .link-first-floor a {
  color: #0a54a0;
  font-size: 20px;
  padding: 2px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 10.12px;
  text-align: right;
  text-decoration: none;
  margin-right: 60px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__inner .menu-first-floor .link-first-floor a:hover {
  border-top: 1px solid #f48220;
  border-bottom: 1px solid #f48220;
  color: #f48220;
}

.header__inner .menu-first-floor .link-first-floor:last-child a {
  margin-right: 0;
}

.header__inner .menu-first-floor .link-first-floor .menu-second-floor {
  position: absolute;
  height: auto;
  top: 125%;
  left: 0;
  padding: 0;
  padding-top: 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  pointer-events: none;
}

.header__inner .menu-first-floor .link-first-floor .menu-second-floor .link-second-floor {
  list-style: none;
  margin: 7px 0;
}

.header__inner .menu-first-floor .link-first-floor .menu-second-floor .link-second-floor a {
  width: 100%;
  white-space: nowrap;
  text-align: left;
  display: block;
  padding: 8px 15px;
}

.header__inner .menu-first-floor .link-first-floor:hover .link-first-floor-a {
  border-top: 1px solid #f48220;
  border-bottom: 1px solid #f48220;
  color: #f48220;
}

.header__inner .menu-first-floor .link-first-floor:hover .menu-second-floor {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.afterHeader {
  background: center no-repeat url("../img/2-layers.png");
  background-size: cover;
  height: auto;
}

.afterHeader h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 69.31px;
  text-align: center;
  padding: 34px 0 20px;
  position: relative;
}

.afterHeader h1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 99%;
  left: 0;
  background-color: white;
}

.afterHeader p {
  max-width: 984px;
  margin: 0 auto;
  padding: 25px 0 36px;
  height: auto;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
}

.services__inner {
  padding-top: 25px;
}

.services__inner .block-services-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
}

.services__inner .block-services-img .img-Gear {
  position: relative;
  height: 332px;
}

.services__inner .block-services-img .img-Gear:nth-child(1) img {
  position: absolute;
  top: 50%;
  right: -15%;
  -webkit-transform: translateY(-50%) rotate(15deg);
      -ms-transform: translateY(-50%) rotate(15deg);
          transform: translateY(-50%) rotate(15deg);
}

.services__inner .block-services-img .img-Gear:nth-child(2) img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.services__inner .block-services-img .img-Gear:nth-child(3) img {
  position: absolute;
  top: 50%;
  left: -15%;
  -webkit-transform: translateY(-50%) rotate(-13deg);
      -ms-transform: translateY(-50%) rotate(-13deg);
          transform: translateY(-50%) rotate(-13deg);
}

.services__inner .block-services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
}

.services__inner .block-services-info .services-info {
  width: 376px;
  height: auto;
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: #ffffff;
}

.services__inner .block-services-info .services-info:hover {
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.36);
}

.services__inner .block-services-info .services-info h1 {
  max-width: 223px;
  margin: 0 auto;
  color: #0a54a0;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: center;
  font-variant: small-caps;
  padding: 22px 0;
}

.services__inner .block-services-info .services-info p {
  max-width: 298px;
  margin: 0 auto;
  color: #717171;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  padding-bottom: 32px;
}

.services__inner .block-services-info .services-info a {
  display: block;
  width: 223px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #224a98;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 62px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 23px;
}

.services__inner .block-services-info .services-info a:hover {
  background-color: #f48220;
}

.advantage {
  background-color: #f6f6f6;
  margin-top: 75px;
  padding-bottom: 45px;
}

.advantage__inner {
  padding-top: 52px;
}

.advantage__inner h1 {
  margin-bottom: 30px;
  color: #0a54a0;
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  text-align: center;
  font-variant: small-caps;
}

.advantage__inner .get-consultation {
  border-radius: 5px;
  background-color: #f48220;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 62px;
  text-align: center;
  padding: 17px 40px;
  text-decoration: none;
  text-transform: capitalize;
}

.advantage__inner .advantage-block:nth-child(3) .advantage-info {
  padding-right: 50px;
  padding-left: 0;
}

.advantage__inner .advantage-block:nth-child(3) .advantage-info h1 {
  text-align: right !important;
  min-width: 100%;
}

.advantage__inner .advantage-block:nth-child(3) .advantage-info p {
  text-align: right !important;
}

.advantage__inner .advantage-block:nth-child(5) {
  margin-bottom: 28px;
}

.advantage__inner .advantage-block:nth-child(5) .advantage-info {
  padding-right: 50px;
  padding-left: 0;
}

.advantage__inner .advantage-block:nth-child(5) .advantage-info h1 {
  text-align: right !important;
  min-width: 100%;
}

.advantage__inner .advantage-block:nth-child(5) .advantage-info p {
  text-align: right !important;
}

.advantage__inner .advantage-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__inner .advantage-block .advantage-info {
  padding-left: 50px;
  text-align: left;
}

.advantage__inner .advantage-block .advantage-info h1 {
  max-width: 625px;
  color: #717171;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
  font-variant: small-caps;
  margin: 0;
  padding-bottom: 26px;
}

.advantage__inner .advantage-block .advantage-info p {
  margin: 0;
  max-width: 806px;
  color: #717171;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23px;
  text-align: left;
  font-variant: small-caps;
}

.footer {
  background-color: #717171;
}

.footer__inner {
  padding-top: 44px;
}

.footer__inner .footer-main-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 22px;
}

.footer__inner .footer-main-block .footer-social-link {
  display: grid;
  text-align: right;
}

.footer__inner .footer-main-block .footer-social-link .svg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__inner .footer-main-block .footer-social-link .svg-block .footer-link-soc {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__inner .footer-main-block .footer-social-link .svg-block .footer-link-soc svg {
  margin: 10px 0;
  max-width: 100%;
  max-height: 100%;
}

.footer__inner .footer-main-block .footer-social-link .svg-block .footer-link-soc svg path {
  fill: #c4c4c4;
}

.footer__inner .footer-main-block .footer-social-link .svg-block .footer-link-soc:hover svg path {
  fill: #ffffff;
}

.footer__inner .footer-main-block .footer-div {
  display: grid;
  grid-template-rows: 50px 29px;
}

.footer__inner .footer-main-block .footer-div h3 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left !important;
  margin: 0 0 30px;
}

.footer__inner .footer-main-block .footer-div a {
  text-align: left;
  color: #c4c4c4;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-decoration: none;
}

.footer__inner .footer-main-block .footer-div a:hover {
  color: #ffffff;
  text-decoration: underline;
}
